.App {
  text-align: center;
}

.circular {
  border-radius: 50%;
}


/* Navbar styling */
.navbar-brand {
  padding-left: 2rem;

}

.navbar-text {
  padding-right: 2rem;
  text-decoration: none;
}





